# Shark!!!!!
## Data driven conclusions on shark attacks worldwide.

The data that has no interest must first be removed so it is easier to draw a hypothesis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
rawData = pd.read_csv('GSAF5.csv', encoding = 'ISO-8859-1') # reading de csv file using pandas required using special encoding
rawData.head() #shows firs 5 rows of data so we can determine disposable data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

### Droping columns
Several columns can be droped from the data since they don't provide usefull information to reach any conclusions.

In [3]:
data = rawData.drop(['Case Number', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23'], axis = 1)
data.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"

With the new "data" table it's easier to analize the usable information and decide a hypothesis that can be tested with the available data.

## Hypothesis:

Given the available data, it is interesting to see if there is a relation between tha fatlity of the attacks and the activity that the victim was doing.  A conclusion could be reached identifying the higher risk activities related to shark attacks.

## Data Cleaning

In an initial visual inspection of the head of the data table it is evident that "Age" & "Species" columns are missing data, so further analisis searching for missing values is in order.

In [4]:
null_cols = data.isnull().sum()
print(null_cols[null_cols > 0])
print('Data entrys: {}'.format(len(data.index)-1))

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
dtype: int64
Data entrys: 5991

"Age", "Time" and "Species" have a significant ammount of null data.  These columns can be deleted since over half the entrys are empty.

A limit of 1000 empty cells is selected.  If the data  column has more than 1000 empty cells (17%) it is deleted.

From observing the first rows of the remaining data, we can see that the "Name" column has currupt data (male as name), and since the individual name of the victim is of no interest to us, we can delete the column.

The column "Injury" has a very specific discription of the victim's injury.  This type of data is hard to cuantify and the reult of the injury can be found on the "Fatal" column, so we can delete this column too.

The "Investigator or Source" column can be deleted since we have decided to trust all the data from the data set ignoring its origin.

In [5]:
drop_cols = list(null_cols[null_cols > 1000].index)
data = data.drop(drop_cols, axis=1)
data = data.drop(['Name' ,'Injury', 'Investigator or Source'], axis = 1)

data.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Fatal (Y/N)
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,N
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,N

The core focus of the investigation is ACTIVITY, so a deeper analysis is in order.

In [6]:
data['Activity'].fillna('Unknown', inplace = True) #replace all NaN values in Activity to "Unknown"
data['Fatal (Y/N)'].fillna('Unknown', inplace = True)

In [7]:
data.Activity.value_counts()

Surfing                                                                                                                                                                                                                                     904
Swimming                                                                                                                                                                                                                                    819
Unknown                                                                                                                                                                                                                                     530
Fishing                                                                                                                                                                                                                                     414
Spearfishing                                                                                                                                                                                                                                321
Bathing                                                                                                                                                                                                                                     153
Wading                                                                                                                                                                                                                                      144
Diving                                                                                                                                                                                                                                      123
Standing                                                                                                                                                                                                                                     97
Snorkeling                                                                                                                                                                                                                                   77
Scuba diving                                                                                                                                                                                                                                 74
Body boarding                                                                                                                                                                                                                                54
Body surfing                                                                                                                                                                                                                                 48
Swimming                                                                                                                                                                                                                                     47
Treading water                                                                                                                                                                                                                               32
Pearl diving                                                                                                                                                                                                                                 32
Kayaking                                                                                                                                                                                                                                     28
Boogie boarding                                                                                                                                                                                                                              28
Free diving                                                                                                                                                                                                                                  26
Fell overboard                                                                                                                                                                                                                               21
Windsurfing                                                                                                                                                                                                                                  18
Boogie Boarding                                                                                                                                                                                                                              16
Walking                                                                                                                                                                                                                                      15
Shark fishing                                                                                                                                                                                                                                15
Surf-skiing                                                                                                                                                                                                                                  12
Floating                                                                                                                                                                                                                                     12
Canoeing                                                                                                                                                                                                                                     12
Fishing                                                                                                                                                                                                                                      12
Rowing                                                                                                                                                                                                                                       12
Surf skiing                                                                                                                                                                                                                                  12
                                                                                                                                                                                                                                           ...
Fishing from rocks, swept out to sea by large wave & treading water                                                                                                                                                                           1
C47 aircraft carrying 5,000 lbs of ice ditched in the sea                                                                                                                                                                                     1
Hauling in net                                                                                                                                                                                                                                1
Shell Diving                                                                                                                                                                                                                                  1
Walking in surf                                                                                                                                                                                                                               1
Commercial diver (submerged or treading water)                                                                                                                                                                                                1
Fishing trawler Flavio Gioia                                                                                                                                                                                                                  1
Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea                                                                                                                                                                              1
Scuba diving & spearfishing                                                                                                                                                                                                                   1
Dynamiting fish                                                                                                                                                                                                                               1
Swimming a quarter mile offshore                                                                                                                                                                                                              1
American minesweeper USS YMS-350 lost in a typhoon - swimming to shore                                                                                                                                                                        1
3,909-ton Panamanian freighter Chieh Lee sank in a typhoon                                                                                                                                                                                    1
Adrift on raft after their ship was sunk by an Axis raider                                                                                                                                                                                    1
Fishing from shore, washed into the sea                                                                                                                                                                                                       1
Fisherman                                                                                                                                                                                                                                     1
Adrift on life raft                                                                                                                                                                                                                           1
Standing on sandbar                                                                                                                                                                                                                           1
Crossing the river mouth                                                                                                                                                                                                                      1
Bathing alongside the American ship Thomas W. Sears                                                                                                                                                                                           1
Fleet of canoes caught by a squall and charged by sharks.                                                                                                                                                                                     1
Helmet diving                                                                                                                                                                                                                                 1
Net fishing                                                                                                                                                                                                                                   1
Fishing, holding fish in his left hand                                                                                                                                                                                                        1
Scooping prawns                                                                                                                                                                                                                               1
Treading water while alongside capsized yacht                                                                                                                                                                                                 1
Lobstering                                                                                                                                                                                                                                    1
Swimming crawl stroke                                                                                                                                                                                                                         1
On fishing boat & trailing hand in the water                                                                                                                                                                                                  1
Dutch merchant ship Zaandam torpedoed  by the U-174 amidships, sank & dozens of survivors took to rafts & boats. One man, Izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down      1
Name: Activity, Length: 1492, dtype: int64