# Shark!!!!!
## Data driven conclusions on shark attacks worldwide.

The data that has no interest must first be removed so it is easier to draw a hypothesis.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
rawData = pd.read_csv('GSAF5.csv', encoding = 'ISO-8859-1') # reading de csv file using pandas required using special encoding
rawData.head() #shows firs 5 rows of data so we can determine disposable data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

### Droping columns
Several columns can be droped from the data since they don't provide usefull information to reach any conclusions.

In [3]:
data = rawData.drop(['Case Number', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23'], axis = 1)
data.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"

With the new "data" table it's easier to analize the usable information and decide a hypothesis that can be tested with the available data.

## Hypothesis:

Given the available data, it is interesting to see if there is a relation between tha fatlity of the attacks and the activity that the victim was doing.  A conclusion could be reached identifying the higher risk activities related to shark attacks.

## Data Cleaning

In an initial visual inspection of the head of the data table it is evident that "Age" & "Species" columns are missing data, so further analisis searching for missing values is in order.

In [4]:
null_cols = data.isnull().sum()
print(null_cols[null_cols > 0])
print('Data entrys: {}'.format(len(data.index)-1))

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
dtype: int64
Data entrys: 5991

"Age", "Time" and "Species" have a significant ammount of null data.  These columns can be deleted since over half the entrys are empty.

A limit of 1000 empty cells is selected.  If the data  column has more than 1000 empty cells (17%) it is deleted.

From observing the first rows of the remaining data, we can see that the "Name" column has currupt data (male as name), and since the individual name of the victim is of no interest to us, we can delete the column.

The column "Injury" has a very specific discription of the victim's injury.  This type of data is hard to cuantify and the reult of the injury can be found on the "Fatal" column, so we can delete this column too.

The "Investigator or Source" column can be deleted since we have decided to trust all the data from the data set ignoring its origin.

In [5]:
drop_cols = list(null_cols[null_cols > 1000].index)
data = data.drop(drop_cols, axis=1)
data = data.drop(['Name' ,'Injury', 'Investigator or Source'], axis = 1)

data.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Fatal (Y/N)
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,N
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,N

The core focus of the investigation is ACTIVITY, so a deeper analysis is in order.

In [23]:
data['Activity'].fillna('Unknown', inplace = True) #replace all NaN values in Activity to "Unknown"
data['Fatal \(Y/N)'].fillna('Unknown', inplace = True)
data['Sex '].fillna('Unknown', inplace = True)
data['Location'].fillna('Unknown', inplace = True)
data['Area'].fillna('Unknown', inplace = True)
data['Country'].fillna('Unknown', inplace = True)
data['Type'].fillna('Unknown', inplace = True)
data['Year'].fillna('Unknown', inplace = True)
data['Date'].fillna('Unknown', inplace = True)

KeyError: 'Fatal \\(Y/N)'

In [7]:
data.Activity.value_counts()

Surfing                                                                                                                   904
Swimming                                                                                                                  819
Unknown                                                                                                                   530
Fishing                                                                                                                   414
Spearfishing                                                                                                              321
Bathing                                                                                                                   153
Wading                                                                                                                    144
Diving                                                                                                                    123
Standing                                                                                                                   97
Snorkeling                                                                                                                 77
Scuba diving                                                                                                               74
Body boarding                                                                                                              54
Body surfing                                                                                                               48
Swimming                                                                                                                   47
Treading water                                                                                                             32
Pearl diving                                                                                                               32
Kayaking                                                                                                                   28
Boogie boarding                                                                                                            28
Free diving                                                                                                                26
Fell overboard                                                                                                             21
Windsurfing                                                                                                                18
Boogie Boarding                                                                                                            16
Shark fishing                                                                                                              15
Walking                                                                                                                    15
Fishing                                                                                                                    12
Surf-skiing                                                                                                                12
Floating                                                                                                                   12
Rowing                                                                                                                     12
Surf skiing                                                                                                                12
Canoeing                                                                                                                   12
                                                                                                                         ...
Reached out to disentangle rope & fell overboard                                                                            1
12 of the Penang's crew were returning to the ship when their 12' dinghy capsized                                           1
Fishing trawler Flavio Gioia                                                                                                1
Competing in U/W endurance record, standing beside drum in 10' of water                                                     1
Spent 8 days in dinghy                                                                                                      1
Attempting to rescue an injured & beached shark                                                                             1
Hauling in net                                                                                                              1
Sailboarding, fell into water 100 yards outside the breakwater                                                              1
Free diving for shell                                                                                                       1
Fishing, hauling in a 5-lb snapper                                                                                          1
In water with diving seabirds                                                                                               1
Spearfishing & had just speared a ulua                                                                                      1
Wind surfing                                                                                                                1
Fell off aircraft carrier                                                                                                   1
Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net      1
                                                                                                                            1
Crouching in 2' of water                                                                                                    1
Free diving for sponges                                                                                                     1
Lying in 2 feet of water                                                                                                    1
Commercial Salvage Diving                                                                                                   1
Rescuing                                                                                                                    1
Standing, collecting sea stars                                                                                              1
Netting sharks                                                                                                              1
HBM Magpie foundered in a squall                                                                                            1
3,909-ton Panamanian freighter Chieh Lee sank in a typhoon                                                                  1
Diving for pen shells                                                                                                       1
Crossing inlet in a boat, seen fighting sharks with his oar, sharks smashed boat                                            1
Walking, carrying surfboard & stepped on shark                                                                              1
B-24 crashed during a search mission. Survivors in raft for 47 days                                                         1
Filming                                                                                                                     1
Name: Activity, Length: 1492, dtype: int64

We can see that many of the Activity entrys are unique, so we can group all those instances in a category called "Other"
Every entry that is repeated less than 75 times (1.2 %) is dumped in the other category.

In [8]:
data['Activity'] = data['Activity'].where((data['Activity'] == 'Surfing') | 
                                          (data['Activity'] == 'Swimming') | 
                                          (data['Activity'] == 'Unknown') |
                                          (data['Activity'] == 'Fishing') |
                                          (data['Activity'] == 'Spearfishing') |
                                          (data['Activity'] == 'Bathing') |
                                          (data['Activity'] == 'Wading') |
                                          (data['Activity'] == 'Diving') |
                                          (data['Activity'] == 'Standing') |
                                          (data['Activity'] == 'Snorkeling'), 'Other' )
data.Activity.value_counts()

Other           2410
Surfing          904
Swimming         819
Unknown          530
Fishing          414
Spearfishing     321
Bathing          153
Wading           144
Diving           123
Standing          97
Snorkeling        77
Name: Activity, dtype: int64

After grouping the Activities, we can move into other columns to correct.

In [9]:
data.rename(columns={'Sex ':'Sex'}, inplace=True)
data.Sex.value_counts()

M      4835
F       585
M         2
N         1
.         1
lli       1
Name: Sex, dtype: int64

In [10]:
data['Sex'] = data['Sex'].str.replace('M ', 'M')
data['Sex'] = data['Sex'].str.replace('N', 'M')
data['Sex'] = data['Sex'].str.replace('lli', 'Unknown')
data['Sex'] = data['Sex'].str.replace('.', 'Unknown')
data.Sex.value_counts()

M          4838
F           585
Unknown       2
Name: Sex, dtype: int64

In [11]:
data.rename(columns={'Fatal (Y/N)':'Fatal'}, inplace=True)
data.Fatal.value_counts()

N          4315
Y          1552
UNKNOWN      94
Unknown      19
 N            8
n             1
N             1
F             1
#VALUE!       1
Name: Fatal, dtype: int64

In [12]:
data['Fatal'] = data['Fatal'].str.replace(' N', 'N')
data['Fatal'] = data['Fatal'].str.replace('n', 'N')
data['Fatal'] = data['Fatal'].str.replace('N ', 'N')
data.Fatal.value_counts()

N          4325
Y          1552
UNKNOWN      94
UNkNowN      19
F             1
#VALUE!       1
Name: Fatal, dtype: int64

In [14]:
data['Fatal'] = data['Fatal'].str.replace('UNKNOWN', 'Unknown')
data['Fatal'] = data['Fatal'].str.replace('#VALUE!', 'Unknown')
data['Fatal'] = data['Fatal'].str.replace('F', 'Unknown')
data['Fatal'] = data['Fatal'].str.replace('UNkNowN', 'Unknown')
data.Fatal.value_counts()

N          4325
Y          1552
Unknown     115
Name: Fatal, dtype: int64

In [15]:
data.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Fatal
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,N
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,N

In [16]:
before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  63

In [18]:
data.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Fatal
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,N
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,N
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,N
5,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,NaN,N
6,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,N

M          4779
F           581
Unknown       2
Name: Sex, dtype: int64